/* Table for the live leaderboards */
table {
    position: relative;
    color: #FFFF;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-top: 1px solid #7E7E7E;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #2A2A2A;
}

/* Session infomation */
.sessionDiv {
    width: 1px;
    position: relative;
    text-align: center;
    top: -65px;
}

.sessionDiv p {
    margin: 0;
    color: #FFFF;
}